<a href="https://colab.research.google.com/github/sinku247/ms-py-colab/blob/main/Python_03_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#function
def times(a,b):
  result = a*b
  return result
print(times)

<function times at 0x7f70d5fad550>

In [ ]:
print(times(10,20))

200

In [ ]:
print(id(times))

140123003174768

In [ ]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  '#function\ndef times(a,b):\n  result = a*b\n  return result',
  '#function\ndef times(a,b):\n  result = a*b\n  return result',
  'print(times(10,20))',
  'print(id(times))',
  '#function\ndef times(a,b):\n  result = a*b\n  return result\n  print(times)',
  '#function\ndef times(a,b):\n  result = a*b\n  return result\n  print(times)',
  '#function\ndef times(a,b):\n  result = a*b\n  return result\nprint(times)',
  'globals',
  'globals()'],
 '_oh': {8: <function globals()>},
 '_dh': ['/content'],
 'In': ['',
  '#function\ndef times(a,b):\n  result = a*b\n  return result',
  '#function\ndef times(a,b):\n  result = a*b\n  return result',
  'print(times(10,20))',
  'print(id(times))',
  '#function\ndef times(a,b):\n  result = a*b\n  return result\n  print(times)',
  '#function\ndef times(a,b):\n  result = a*b\n  return result\n  print(times)',
  '#function\ndef times(a,b):\n  result = a*b\n  return result\nprint(times)',
  'globals',
  'globals()'],
 'Out': {8: <function globals()>},
 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7f7108cddf10>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x7f71088d83a0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x7f71088d83a0>,
 '_': <function globals()>,
 '__': '',
 '___': '',
 '_i': 'globals',
 '_ii': '#function\ndef times(a,b):\n  result = a*b\n  return result\nprint(times)',
 '_iii': '#function\ndef times(a,b):\n  result = a*b\n  return result\n  print(times)',
 '_i1': '#function\ndef times(a,b):\n  result = a*b\n  return result',
 'times': <function __main__.times(a, b)>,
 '_i2': '#function\ndef times(a,b):\n  result = a*b\n  return result',
 '_i3': 'print(times(10,20))',
 '_i4': 'print(id(times))',
 '_i5': '#function\ndef times(a,b):\n  result = a*b\n  return result\n  print(times)',
 '_i6': '#function\ndef times(a,b):\n  result = a*b\n  return result\n  print(times)',
 '_i7': '#function\ndef times(a,b):\n  result = a*b\n  return result\nprint(times)',
 '_i8': 'globals',
 '_8': <function globals()>,
 '_i9': 'globals()'}

In [ ]:
mytimes=times
print(mytimes(10,20))

200

In [ ]:
print((id(mytimes)))

140122603050320

In [ ]:
a=10
b=20
def sum1(x,y):
  return x+y

In [ ]:
print(sum1(a,b))

30

In [ ]:
#변수의 범위
g=10
x=20
def sum2(x,y):
  global g
  g = g+1
  return x,y

print(sum2(x,20))
print(g)

(20, 20)
11

In [ ]:
# 함수의 인자 (parameter)

def times(a=10, b=20):
  return a*b

print(times(100,200))
print(times(100))
print(times())

20000
2000
200

In [ ]:
def connectURL(protocol='https', server='naver.com', port='80'):
  address = protocol + '://' + server + ':' + port
  return address

print(connectURL(port='8080'))

https://naver.com:8080

In [ ]:
#가변인자 함수
def test(*args):
  print(type(args))
  print(args)

test(1,2,3,4,5)
test(1,2,3)

<class 'tuple'>
(1, 2, 3, 4, 5)
<class 'tuple'>
(1, 2, 3)