<a href="https://colab.research.google.com/github/sinku247/ms-py-colab/blob/main/python_01_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello world')

hello world

# 큰글씨

아이유 콘서트 티켓팅 빡셈

In [ ]:
#변수 규칙칙
a=1
b=2
#2a = 3 항상 변수는 문자로 시작해야 한다.
student_count=100 #가급적 풀 워드, 영어로 짓는다.
address = ""
print(a*b, student_count)

2

In [ ]:
#대소문자를 구분함함
friend=1
Friend=10
print(friend)

1

In [ ]:
#예약어, 명령어는 사용할 수 없다.

for = 1

SyntaxError: ignored

In [ ]:
#숫자형

year = 2023
month = 4
print(year, month)

2023 4

In [ ]:
year = 2023
print(type(year)) #type() 데이터의 타입을 확인하는 함수수
year = '이천이십삼년'
print(type(year))

<class 'int'>
<class 'str'>

In [ ]:
#8진수
#정수 앞에 0o를 붙이면 8진수가 된다.

print(0o10)

#정수 앞에 0b를 붙이면 2진수
#정수 앞에 0x를 붙이면 16진수
print(0b10)
print(0x10)

8
2
16

In [ ]:
# 10진수를 받아서 각 진수로 변환하는 방법(결과가 문자형)
print(oct(38)) #10진수 38을 8진수로 변환환
print(hex(38)) #10진수 38을 16진수로 변환환
print(bin(38)) #10진수 38을 2진수로 변환환

0o46
0x26
0b100110

In [ ]:
#파이썬의 정수 타입
print(type(1))        #int
print(type(314e-2))   #float
print(type(2**31))    #int

<class 'int'>
<class 'float'>
<class 'int'>

In [ ]:
print(type(3.14))
print(type(314e-2))
print(type(3-4j))     #복소수
x = 3 -4j
print(x.imag)         #imag = 허수부부
print(x.real)         #real = 실수부부
print(x.conjugate())  #conjuage는 전체를 확인

<class 'float'>
<class 'float'>
<class 'complex'>
-4.0
3.0
(3+4j)

In [ ]:
#원의 넓이와 삼각형 넓이 구하기
r=2
circle_area = (r ** 2) * 3.14
print (circle_area)

x=3
y=4

triangle_area = x*y/2

print(triangle_area)

12.56
6.0

In [ ]:
#문자형 실습
print('hello world')
print("hello world")
print("welcome to 'python world'")

hello world
hello world
welcome to 'python world'

In [ ]:
print('''
항상 태양을 바라보아라
그리하면 너는 그림자를 볼 수 없을 것이다.
                -헬렌켈러러
''')

항상 태양을 바라보아라
그리하면 너는 그림자를 볼 수 없을 것이다.
                -헬렌켈러러

In [ ]:
print('\t탭 \n다음줄')

	탭
다음줄

In [ ]:
print('py''thon')
print('py'+'thon')

python
python

In [ ]:
print('py'*3)

pypypy

In [ ]:
a='Python'
print(a[0])
print(a[0+1])
print(a[2])

P
y
t

In [ ]:
a[0]='A' #index read-only 속성이라 수정은 불가능합니다.

In [ ]:
#index를 이용해서 범위를 설정할 수 있다
print(a[0:1])
print(a[1:4])
print(a[:2])
print(a[2:])
print(a[-2:])
print(a[:])
print(a[::2])

P
yth
Py
thon
on
Python
Pto

In [ ]:
# 데이터 타입의 변환
print(str(3.14))              #문자형으로 변환
print(int('49'))              #정수형으로 변환
print(float(23))              #실수형으로 변환

3.14
49
23.0