<a href="https://colab.research.google.com/github/sinku247/ms-py-colab/blob/main/Python_04_Control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
value = 10
if value > 5:
  print('value is bigger than 5')

value is bigger than 5

In [2]:
money = 10
if money > 100:
  item = 'apple'
else:
  item = 'banana'

print(item)

banana

In [13]:
#성적처리

score = int(input(('input your score:')))

if 90 <= score <= 100:
  grade = 'A'
elif 80<= score < 90:
  grade = 'B'
elif 70<= score <80:
  grade = 'C'
elif 60<= score <70:
  grade = 'D'
else:
  grade = 'F'


print('your score is ' + str(score))
print('your grade is ' + grade)

input your score:80
your score is 80
your grade is B

In [18]:
#조건식의 참과 거짓

print(bool(True))
print(bool(False))
print(bool(123))
print(bool(0))
print(bool(-1))
print(bool('apple'))
print(bool(''))
print(bool())

True
False
True
False
True
True
False
False

In [19]:
#반복문 (while and for)

value = 5 
while value > 0:
  print(value)
  value -= 1

5
4
3
2
1

In [20]:
l = ['apple', 100, 15.23]
for i in l:
  print(i)

apple
100
15.23

In [22]:
loop1= [2,3,4,5,6,7,8,9]
loop2= [1,2,3,4,5,6,7,8,9]
for i in loop2:
  print('2*' + str(i) + '=' + str(2*i))

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

In [24]:
loop1= [2,3,4,5,6,7,8,9]
loop2= [1,2,3,4,5,6,7,8,9]
for i in loop2:
  print('2*{0} = {1}'.format(i, i*2))
  print()

2*1 = 2
1
2*2 = 4
2
2*3 = 6
3
2*4 = 8
4
2*5 = 10
5
2*6 = 12
6
2*7 = 14
7
2*8 = 16
8
2*9 = 18
9