<a href="https://colab.research.google.com/github/sinku247/ms-py-colab/blob/main/Python_04_Control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value = 10
if value > 5:
  print('value is bigger than 5')

value is bigger than 5

In [ ]:
money = 10
if money > 100:
  item = 'apple'
else:
  item = 'banana'

print(item)

banana

In [ ]:
#성적처리

score = int(input(('input your score:')))

if 90 <= score <= 100:
  grade = 'A'
elif 80<= score < 90:
  grade = 'B'
elif 70<= score <80:
  grade = 'C'
elif 60<= score <70:
  grade = 'D'
else:
  grade = 'F'


print('your score is ' + str(score))
print('your grade is ' + grade)

input your score:80
your score is 80
your grade is B

In [ ]:
#조건식의 참과 거짓

print(bool(True))
print(bool(False))
print(bool(123))
print(bool(0))
print(bool(-1))
print(bool('apple'))
print(bool(''))
print(bool())

True
False
True
False
True
True
False
False

In [ ]:
#반복문 (while and for)

value = 5 
while value > 0:
  print(value)
  value -= 1

5
4
3
2
1

In [ ]:
l = ['apple', 100, 15.23]
for i in l:
  print(i)

apple
100
15.23

In [ ]:
loop1= [2,3,4,5,6,7,8,9]
loop2= [1,2,3,4,5,6,7,8,9]
for i in loop2:
  print('2*' + str(i) + '=' + str(2*i))

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

In [ ]:
loop1= [2,3,4,5,6,7,8,9]
loop2= [1,2,3,4,5,6,7,8,9]
for i in loop2:
  print('2*{0} = {1}'.format(i, i*2))

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18

In [ ]:
loop1= [2,3,4,5,6,7,8,9]            #구구단 만들기 i 안에 j를 넣어 포문 두번 돌리기.
loop2= [1,2,3,4,5,6,7,8,9]
for i in loop1:
  print(
      
  )
  for j in loop2:
    print('{0}*{1}={2}'.format(i, j, i*j))

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72

9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [6]:
L = [1,2,3,4,5,6,7,8,9,10]

In [7]:
#break문을 사용하면 반복문을 중간에 멈출 수 있음.

for i in L:
  if i>5:
    break
  print('Item: {0}'.format(i))

Item: 1
Item: 2
Item: 3
Item: 4
Item: 5

In [8]:
#continue문을 사용하면 해당 반복만 건너뛴다.
for i in L:
  if i%2 ==0:
    continue
  print('Item {0}'.format(i))

Item 1
Item 3
Item 5
Item 7
Item 9

In [12]:
#range 함수를 사용하면 특정 범위의 숫자를 생성할 수 있다.
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,0,-1)))
print(list(range(0,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[0, 2, 4, 6, 8]

In [13]:
L = ['Apple','Orange','Banana']

for i in L:
  print(i)

Apple
Orange
Banana

In [14]:
l = list(range(1,6))

In [15]:
[print(i) for i in l]

1
2
3
4
5

[None, None, None, None, None]

In [16]:
[i**2 for i in l]

[1, 4, 9, 16, 25]